@use "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-card: #f3f0f7;
  --bg-sec: #e9e5f0;
  --bg-el: #fd5766;
  --elements: #fc525f;
  --text: #262626;
  --text-el: #ffffff;
  --title: #000000;
  --title-mobile: #fa425de6;
}

body,
html {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 62%;
}

.container-fluid,
.container,
.row,
.col-md-6,
.col-md-7 {
  padding: 0;
}

p {
  margin: 0;
}
