@use "./global.scss";
@use "./promoSection.scss";
@use "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

#promo-carousel .container {
  padding: 70px 0;
}

#promo-carousel .container-fluid {
  background: var(--bg-sec);
}

.glide__arrow--left {
  img {
    transform: rotate(180deg);
  }
}

#promo-carousel .card-promo {
  background: #ffffff;
  width: 352px;
  border-radius: 24px;
  margin-right: 32px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height:100%;
      width: 100%;
    }

    button {
      padding: 1.1rem 3.7rem;
      font-size: 1.5rem;
      line-height: 1.9rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: var(--text-el);
      background: var(--bg-el);
      margin-bottom: 42px;
      transition: 0.5s;
        &:hover {
          filter: brightness(0.9);
        }

        a {
          text-decoration: none;
          color: var(--text-el);
        }
      }

    span {
      font-weight: 700;
      text-transform: uppercase;
    }

    span:last-child {
      margin-bottom: 13.5px;
    }
}